
 <head>
    <title>Caricamento file con Fine Uploader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css">
</head>
<h1> {{title}} </h1>
<p> {{title}} </p>
<div class="container">
    <div class="row">
        <div class="col-sm">
               <div id="fine-uploader-gallery"></div>
            <div class="container mt-5">
        <form id="my-dropzone" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
            </div>
        </div>
</div>
<tr>
</tr>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.js"></script>

<script type="text/javascript">
Dropzone.options.myDropzone = {
  paramName: "file", // Nome del parametro che verrà utilizzato per inviare il file
  chunking: false, // Abilita il chunking
  forceChunking: true, // Forza il chunking anche per file più piccoli della dimensione predefinita
  chunkSize: 1 * 1024 * 1024, // Dimensione del chunk in byte (2MB)
  parallelUploads: 1, // Numero massimo di upload paralleli
  url: "/upload", // URL del server dove verrà inviato il file
  maxFilesize: 3.5* 1024, // Imposta la dimensione massima del file a 1024 MiB
  init: function() {
     this.on("success", function(file, response) {
                    // Gestisci la risposta dal server qui
                    console.log("Risposta dal server:", response);
                    alert(`il file video è stato certificato su blockchain con : ${response.hash} `)
                }),
    this.on("complete", function(file) {
        console.log("completato")

      this.removeFile(file); // Rimuove il file dalla dropzone quando l'upload è completo
    });
    this.on("error", function(file, errorMessage) {
      console.error("Upload error: " + errorMessage);
    });
  }
};
</script>